/* General Style Info */

header {
    background:#666;
    border-bottom:2px solid #ff9700;
    display:block;
    height:30px;
    vertical-align:middle;
}

footer {
    background-color: #000;
    bottom: 0px;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    opacity: 0.6;
    padding: 8px;
    position: fixed;
    text-align: center;
}


span.s { font-size:80%; }
/* Layout */
#head { background:#333; height:64px; width:100%; }
#menu {
    font-size:24px;
    font-weight:700;
    letter-spacing:2px;
    list-style-type:none;
    margin:0px;
    min-width:620px;
    padding:0px;
}
#menu li {
    float:left;
    margin:0px;
    padding:0px;
    text-align:center;
}
#menu li a {
    display:block; height:30px; line-height:30px;
    padding:2px 12px;
    text-align:center;
}
#menu li a:hover, #menu li a.h { background:#ff9700; color:#000; }
#wrap { background: #eee; margin: 0px; text-align:left; width:740px; }
#core{
	clear: both;
	color: #111;
	max-width:980px;
	padding:8px;
}
#main { margin: 0px 8px; }

#root-hint { background:#efefef; bottom:18px; color:#f00; font-size:22px; left:36px; opacity:0.8; position:fixed; }

div.signin-f { margin:16px; }
div.signin-f > a { display:block; margin:0px auto; width:168px; }
div.signin-f p { font-size:14px; }

div.signin-t { margin:16px; }
div.signin-t > a { display:block; margin:0px auto; width:151px; }
div.signin-t p { font-size:14px; }

/* phpinfo() */

.center { text-align: center;}
.center table { margin-left: auto; margin-right: auto; text-align: left;}
.center th { text-align: center !important; }
td, th { border: 1px solid #000000; font-size: 75%; vertical-align: baseline;}
td.r { text-align:right; }
.p {text-align: left;}
.e {background-color: #ccccff; font-weight: bold; color: #000000;}
.h {background-color: #9999cc; font-weight: bold; color: #000000;}
.v {background-color: #cccccc; color: #000000;}
.vr {background-color: #cccccc; text-align: right; color: #000000;}
img {float: right; border: 0px;}
